* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    font-size: 24px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #f39c12;
}


.banner {
   
    background: #e8c6a7;
    color: #000000;
    text-align: center;
    padding: 100px 20px;
}

.banner h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.banner p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #f39c12;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #e67e22;
}


.produtos {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.produtos h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.produto-lista {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produto-item {
    background-color: #f9f9f9;
    width: 280px;
    margin: 15px;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.produto-item img {
    width: 100%;
    border-radius: 8px;
}

.produto-item h3 {
    font-size: 1.5em;
    margin-top: 10px;
}

.produto-item p {
    font-size: 1.2em;
    margin: 10px 0;
}

.btn-comprar {
    background-color: #f39c12;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1em;
}

.btn-comprar:hover {
    background-color: #e67e22;
}

/* Seção sobre */
.sobre {
    padding: 50px 20px;
    background-color: #ececec;
    text-align: center;
}

.sobre h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.sobre p {
    font-size: 1.2em;
    line-height: 1.6;
}

.contato {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.contato h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.contato form {
    max-width: 600px;
    margin: 0 auto;
}

.contato input,
.contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1.1em;
}

.contato button {
    background-color: #f39c12;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2em;
}

.contato button:hover {
    background-color: #e67e22;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1em;
}
